.intro__list {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 690px;
    margin: 0;
    padding: 0;
    }  

@media screen and (max-width: 768px) {
    .intro__list {
        max-width: 720px;
        } 
        }

@media screen and (max-width: 320px) {
    .intro__list {
        max-width: 288px;
        } 
        }