.footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .footer__links {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 48px;
        } 
        }   