.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 640px;
    text-align: center;
    margin: 0 0 64px 0;
}

@media screen and (max-width: 1024px) {
.lead__subtitle {
    margin-bottom: 56px;
    } 
    }

@media screen and (max-width: 768px) {
.lead__subtitle {
    font-size: calc((100vw - 320px)/(768 - 320) * (30 - 16) + 16px);
    } 
    }

@media screen and (max-width: 320px) {
.lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin-bottom: 40px;
    } 
    }